.NewsSection {
    /* text-align: left; */
    margin: auto;
    /* background-color: rgb(250, 250, 211); */
    background-color: #9266ff;
}

.title {
    text-decoration: underline;
}

.articleSection {
    /* background-color: white; */
    background-color: #bf07ac;
    width: 80%;
    margin: 10px auto;
    border: solid;
    padding: 10px;
    justify-content: center;
}

.imagePos {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}