body {
    background-color: #9266ff;
}

.pageTitle {
    margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
    text-align: center;
    margin: auto;
}

.buttons {
    padding: 10px;
    cursor: pointer;
}


.faicons {
    margin: 0 5px;
    font-size: 15px;
}

.section {
    padding: 10px;
    color: white;
    max-width: 70%;
    background-color: #bf07ac;
    height: auto;
    min-height: 40px;
    margin: 20px auto;
    border-radius: 5px;
}

.section img {
    padding: 10px;
    text-align: center;
    align-items: center;
}

.name {
    text-align: center;
}

.recipe {
    padding-left: 30px;
    padding-right: 30px;
}

.calories {
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}